*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.btn{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    font-size: 30px;
}

.images{
    display: flex;
}